<div id="welcomeView">

<div class="hi">

<h1>
<%= s('Hi!') %>
</h1>

<p>
<%= s('Twine is an open-source tool for telling interactive, nonlinear stories. There are a few things you should know before you get started.') %>
</p>

<p class="buttons">
<button class="btn btn-primary"><%= s('Tell Me More') %></button>
<a href="javascript:void(0)" class="done"><%= s('Skip') %></a>
</p>

</div> <!-- .hi -->

<div class="help">

<h1>
<%= s('New here?') %>
</h1>

<p>
<%- s("<strong>If you've never used Twine before,</strong> then welcome! The <a href=\"http:\/\/twinery.org/2guide\" target=\"_blank\">Twine 2 Guide</a> and the official wiki in general, are a great place to learn. Keep in mind that some articles on the wiki at large were written for Twine 1, which is a little bit different than this version. But most of the concepts are the same.") %>
</p>

<p>
<%- s('You can also get help over at the <a href="http:\/\/twinery.org/forum" target="_blank">Twine forum</a>, too.') %>
</p>

<p>
<%- s('<strong>If you have used Twine 1 before,</strong> the guide also has details on what has changed in this version. Chief among them is a new default story format, Harlowe. But if you find you prefer the Twine 1 scripting syntax, try using SugarCube instead.') %>
</p>

<p class="buttons">
<button class="btn btn-primary"><%= s('OK') %></button>
</p>

</div> <!-- .save -->

<div class="save">

<h1>
<%= s('Your work is saved only in your browser.') %>
</h1>

<p>
<%- s("That means you don't need to create an account to use Twine 2, and everything you create isn't stored on a server somewhere else &mdash; it stays right in your browser.") %>
</p>

<p>
<%- s("Two <b>very important</b> things to remember, though. Since your work is saved only in your browser, if you clear its saved data, then you'll lose your work! Not good. Remember to use that <i class=\"fa fa-briefcase\"></i>&nbsp;<strong>Archive</strong> button often. You can also publish individual stories to files using the <i class=\"fa fa-cog\"></i> menu on each story in the story list. Both archive and story files can always be re-imported into Twine.") %>
</p>

<p>
<%- s("Secondly, <b>anyone who can use this browser can see and make changes to your work</b>. So if you've got a nosy kid brother, look into setting up a separate profile for yourself.") %>
</p>

<p class="buttons">
<button class="btn btn-primary"><%= s('OK') %></button>
</p>

</div> <!-- .save -->

<div class="thanks">

<h1>
<%= s("That's it!") %>
</h1>

<p>
<%= s('Thanks for reading, and have fun with Twine.') %>
</p>

<p class="buttons">
<button class="btn btn-primary done"><%= s('Go to the Story List') %></button>
</p>

</div> <!-- .thanks -->

</div> <!-- #welcomeView -->
