<ul class="menu dropdown">
	<li>
	<button class="editScript"><%= s('Edit Story JavaScript') %></button>
	</li>

	<li>
	<button class="editStyle"><%= s('Edit Story Stylesheet') %></button>
	</li>

	<li>
	<button class="changeFormat"><%= s('Change Story Format') %></button>
	</li>

	<li>
	<button class="renameStory"><%= s('Rename Story') %></button>
	</li>

	<li>
	<button class="snapToGrid"><%= s('Snap to Grid') %></button>
	</li>

	<li>
	<button class="storyStats"><%= s('Story Statistics') %></button>
	</li>

	<li class="divider"></li>

	<li>
	<button class="proofStory"><%= s('View Proofing Copy') %></button>
	</li>

	<li>
	<button class="publishStory"><%= s('Publish to File') %></button>
	</li>
</ul>
