<div class="bubbleContainer hoverContainer">
<div class="frame">
<p class="title"><%= name %></p>

<p class="excerpt">
<%- excerpt %>
</p>

</div> <!-- .frame -->

<div class="bubble up alwaysVisible hover">
<div class="toolbar">

<button class="delete danger subtle" title="<%-
/* L10n: %s is the name of the thing to be deleted. */
s('Delete &ldquo;%s&rdquo;', name)
%>"><i class="fa fa-trash-o"></i></button>

<button class="edit subtle" title="<%-
/* L10n: %s is the name of the thing to be edited. */
s('Edit &ldquo;%s&rdquo;', name)
%>"><i class="fa fa-pencil"></i></button>

<button class="test subtle" title="<%= s('Test story starting here') %>"><i class="fa fa-bug"></i></button>

<button class="setAsStart subtle" title="<%=
/* L10n: %s is a name of a passage */
s('Set &ldquo;%s&rdquo; as starting point', name)
%>"><i class="fa fa-rocket"></i></button>

</div> <!-- .toolbar -->
</div> <!-- .bubble -->
</div> <!-- .bubbleContainer.hoverContainer -->
