<button data-format="<%= name %>" class="format <% if (active) { %>active<% } %>">
	<img src="<%= path %>/<%= image %>" class="icon">
	<div class="description">
		<%= name %> <%= version %><br>
		by <%= author %>
	</div>
</button>
