<div id="aboutModal" class="modal hide">

<button class="save close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
<%= s('About Twine') %> <span class="app-version"></span>
</h2>

<p>
<%=
/* L10n: This is the noun form, to describe a version of the software. e.g. 'I am using Twine build 123' */
s('Build')
%>

<%- window.app.buildNumber %>
</p>

<p>
<%= s('Twine is an open-source tool for telling interactive, nonlinear stories.') %>
</p>

<p>
<%- s('Twine 2.0 is released under the <a href="http:\/\/www.gnu.org/licenses/gpl-3.0.html">GPL v3</a> license, but any work created with it may be released under any terms, including commercial ones. <a href="https:\/\/bitbucket.org/klembot/twinejs">Source Code Repository</a>') %>
</p>

<p>
<a href="http://twinery.org/donate" class="button">
<i class="fa fa-heart-o"></i>
<%= s('Help Twine Grow With A Donation') %></a>
</p>

<div class="credits">

<h4>
<%=
/* L10n: This is the noun form, as program code. */ 
s('Code')
%>
</h4>

<p>
Chris Klimas<br>
Leon Arnott<br>
Ingrid Cheung<br>
Daithi O Crualaoich<br>
Thomas Michael Edwards<br>
Micah Fitch<br>
Juhana Leinonen<br>
Ross Smith
</p>

<h4><%= s('Translations') %></h4>

<p>
David Marchand (Castellano)<br>
Kristian Torgard (Dansk)<br>
Valentin Rocher (Fran&ccedil;ais)<br>
Stefan Peeters (Nederlands)<br>
Alliah (Portugu&ecirc;s Brasileiro)<br>
Anton Zhuchkov (Русский)
</p>

<h4>
<%= s('Libraries') %>
</h4>

<p>
<a href="http://backbonejs.org/">Backbone</a><br>
<a href="https://github.com/jeromegn/Backbone.localStorage">Backbone Local Storage</a><br>
<a href="https://github.com/eligrey/Blob.js/">Blob.js</a><br>
<a href="http://codemirror.net/">CodeMirror</a><br>
<a href="https://github.com/eligrey/FileSaver.js">FileSaver.js</a><br>
<a href="https://slexaxton.github.io/Jed/">Jed</a><br>
<a href="http://jquery.com/">jQuery</a><br>
<a href="http://marionettejs.com/">Marionette</a><br>
<a href="http://momentjs.com">MomentJS</a><br>
<a href="http://0x000000.github.io/OmniWindow/">OmniWindow</a><br>
<a href="https://stevenbenner.github.io/jquery-powertip/">PowerTip</a><br>
<a href="http://underscorejs.org/">Underscore</a><br>
</p>

<h4>
<%= s('Fonts') %>
</h4>

<p>
<%= s('Source Sans Pro and Source Code Pro were designed by Paul D. Hunt under the guidance of Robert Slimbach for <a href="http:\/\/adobe.com/">Adobe</a><br> Nunito was designed by <a href="http:\/\/code.newtypography.co.uk/">Vernon Adams</a>') %>
</p>

<h4>
<%= s('Icons') %>
</h4>

<p>
<a href="http://fontawesome.io/">Font Awesome</a><br>
<a href="http://thenounproject.com/term/document/12036/"><%= s('Document designed by Rob Gill from the Noun Project') %></a><br>
<a href="http://thenounproject.com/term/question/2036/"><%= s('Question designed by Henry Ryder from the Noun Project') %></a><br>
<a href="http://thenounproject.com/term/smile/10696/"><%= s('Smile designed by jelio dimitrov from the Noun Project') %></a><br>
</p>

</div> <!-- .credits -->

</div> <!-- #aboutModal -->
