<div id="formatsModal">
	<header>
		<div class="tabs">
			<button class="showStoryFormats" data-content=".storyFormatsContent"><%= s('Story Formats') %></button>
			<button class="showProofingFormats" data-content=".proofingFormatsContent"><%= s('Proofing Formats') %></button>
			<button class="showAddFormat" data-content=".addFormatContent"><%= s('Add a New Format') %></button>
		</div>
		<button class="close" data-modal="close">
			<i class="fa fa-remove"></i>
		</button>
	</header>

	<div class="tabContent">
		<div class="storyFormatsContent">
			<p class="large">
			<%= s('Story formats control the appearance and behavior of stories during play.') %>
			</p>

			<table>
				<thead>
					<tr>
						<th><%= s('Use as Default') %></th>
						<th></th>
						<th></th>
					</tr>
				<tbody class="storyFormats">
				</tbody>
			</table>
		</div>
		<div class="proofingFormatsContent">
			<p class="large">
			<%= s('Proofing formats create a versions of stories tailored for editing and proofreading.') %>
			</p>

			<table>
				<thead>
					<tr>
						<th><%= s('Use as Default') %></th>
						<th></th>
						<th></th>
					</tr>
				<tbody class="proofingFormats">
				</tbody>
			</table>
		</div>
		<div class="addFormatContent">
			<p class="large">
			<%=
			/* L10n: Address in the sense of a URL. */
			s('To add a story format, enter its address below.')
			%>
			</p>

			<form class="addFormat">
				<p>
				<input type="text" name="newFormatUrl" required>
				<button class="create" type="submit"><i class="fa fa-plus"></i> <%= s('Add') %></button>
				</p>

				<p class="loading">
				<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> <%= s('Loading...') %>
				</p>

				<p class="error hide"></p>
			</form>
		</div>
	</div> <!-- .tabContent -->
</div> <!-- #formatsModal -->
