<div class="format" data-format="<%= name %>">

<p class="buttons">
<span class="removeConfirm">
<%= s('Are you sure?') %>
<button class="remove danger"><i class="fa fa-lg fa-trash-o"></i> <%= s('Remove') %></button>
<button class="hideRemoveConfirm subtle"><%= s('Cancel') %></button>
</span>

<span class="normalButtons">
<% if (typeof userAdded != 'undefined' && userAdded) { %>
<button class="showRemoveConfirm subtle danger" title="<%= s('Remove this format') %>"><i class="fa fa-lg fa-trash-o"></i></button>
<% } %>
<button class="setDefault subtle" title="<%= s('Set this format as default for stories') %>"><i class="fa fa-lg fa-star"></i></button>
</span>
</p>

<% include ../../common/ejs/storyformatdetail.ejs %>

</div>
